.traffic{
    background-color: black;
    height: 100px;
    width: 10px;
    margin: auto;
    padding: auto;
}
  
.container{
    background-color: black;
    height: 250px;
    width: 100px;
    margin: auto;
    padding-top: 10px;
    border-radius: 15px;
}
.light{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 5px;
    
    
}
.red{
    background: red;
   

}
.yellow{
    background: yellow;
    padding-top: 5px;
    padding-bottom: 5px;
}
.green{
    background-color: green;
    
}

.glow {
    box-shadow: 0 0 20px 10px rgb(10, 109, 223), 0 0 50px 25px rgb(12, 207, 197);
}